@model IEnumerable<ASP.NET_Core_Web_App_MVC_.Models.Request>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Время отправки заявки
            </th>
            <th>
                Название продукта
            </th>
            <th>
                Статус
            </th>
            <th>
                Действие
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Name)
            </td>

            @if (item.status == true)
            {
                <td>Одобрено</td>
            }
            else
            {
                <td>Не одобрено</td>
            }

            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
